/* font-family: 'Roboto', sans-serif; */

/*-- Geral --*/
* {
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif ;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- MOBILE --*/
/*-- Cabeçalho --*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    color: #75B79E;
}

/*-- Cartas --*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 47px;
    width: 75%;
}

.carta {
    width: 117px;
    height: 146px;
    margin: 0 17px 34px 17px;
    position: relative;
}

.face img {
    width: 100px;
} 

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

.back-face {
    transform: rotateY(180deg);
  }

.carta:hover .back-face {
    transform: rotateY(0deg);
  }

.carta:hover .front-face {
    transform: rotateY(-180deg);
  }

/*-- DESKTOP --*/
@media screen and (min-width: 614px) {

    /*-- Cabeçalho --*/
    header { 
        flex-direction: row;
    }

    header h1 {
        font-size: 56px;
    }
}